<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bank.Properties.Settings.BANKING_SYSTEMConnectionString"
            connectionString="Data Source=DESKTOP-GL7RKG7\SQLEXPRESS;Initial Catalog=BANKING_SYSTEM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>